version: '3.9'

services:
  app:
    build: arn4n/monitoring-ta:latest
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - .:/app
      - ./vendor:/app/vendor
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
